{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-12 aboutbox">
      <div class="bordered">
        <div class="home"></div><br>
        <div class="boxybutton-blue shoutout-blue">
          <a href="mailto:ashutoshrishi92@gmail.com">Get in touch</a>
        </div>
        <br><br>
        <div class="boxybutton-green shoutout">
          <a href="">Blog</a>
        </div>
        <div class="boxybutton-green shoutout">
          <a href="">Projects</a>
        </div>
        <div class="boxybutton-green shoutout">
          <a href="">Books</a>
        </div>
        <div class="boxybutton-green shoutout">
          <a href="">About Me</a>
        </div>

      </div>
    </div>

    <div class="col-md-9 col-xs-12">
      <div class="name" style="margin-bottom: 30px">
        <p>ASHUTOSH <strong>RISHI</strong> RANJAN</p>
        <small> Developer and Designer, Blog on experiences.</small>

        <h1 class="tag-title">#{{tag.name}}</h1>
      </div>

        {{! The main content area on the homepage }}
        <main class="content" role="main">

        {{! Each post will be output using this markup }}
        {{#foreach posts}}

          <article class="post">
          <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="on "}}</span>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>

          </header>
          <br>
          <section class="post-summary">
            <p>{{excerpt}}&hellip;</p>
          </section>
          </article>

        {{/foreach}}

        <br><br>
        {{!! After all the posts, we have the previous/next pagination links }}
        {{pagination}}

        </main>
      </div>
    </div>
  </div>
</div>
